@import "tailwindcss";

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/poppins-v22-latin-regular.woff2') format('woff2'); 
  }

  /* poppins-600 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/poppins-v22-latin-600.woff2') format('woff2'); 
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/poppins-v22-latin-700.woff2') format('woff2'); 
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/poppins-v22-latin-800.woff2') format('woff2'); 
  }

:root{
  --width: 300px;
  --height: 200px;
  --quantity: 8;
}

.list-img {
  min-width: calc( var(--width) * var(--quantity));
}

.slider-cont {
  height: var(--height);
}

.item-img {
  width: var(--width);
  height: var(--height);
  left: 100%;
  animation: autorun 10s linear infinite;
  animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1));
}

@keyframes autorun {
  from{
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1)
  }
}

#bottom-glow {
    animation-delay: 1s;
}

body {
  font-family: Poppins, sans-serif;
}

.card-image {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}